
{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

    <div style="max-width: 250px; margin: 4rem auto">
        <div>
            <h3>Login</h3>
        </div>
        <br>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <br>
                {% buttons %}
                    <button type="submit" class="btn btn-secondary activate col-5">Submit</button>
                {% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}