.logo_font {
    font-family: 'Tourney', cursive;
}

.content_font {
    font-family: 'Gothic A1', sans-serif;
}

.footer_size {
    font-size: .6rem;
}

.sort_center{
    text-align: center;
}

.detail_size{
    font-size: .3rem;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration-line: none;
}

a:hover { /* 링크에 커서를 올렸을 때 */
    color: black;
    text-decoration: none;
}

.header_space {
    margin: 0 1rem;
}
