.logo_font {
    font-family: 'Tourney', cursive;
}

.content_font {
    font-family: 'Gothic A1', sans-serif;
}

.footer_size {
    font-size: .6rem;
}

.sort_center{
    text-align: center;
}

.detail_size{
    font-size: .3rem;
}

.pragmatic_logo {
    font-family: 'Festive', cursive;
}

.pragmatic_footer_button {
    font-size: .9rem;
}

.pragmatic_footer {
    text-align:center; margin-top: 2rem;
}

.pragmatic_header{
    text-align:center; margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration-line: none;
}

a:hover { /* 링크에 커서를 올렸을 때 */
    color: black;
    text-decoration: none;
}

.prgmatic_header_nav {
    margin: 0rem 0.5rem;
    color: black;
}

.prgmatic_header_navbar {
    margin: 1rem 0;
}
