

<div style="text-align:center;">
    <div style="font-size: .8rem;">
        <span>황유진</span>
        <span>남성재</span>
        <span>조윤주</span>
        <span>김민성</span>
    </div>
    <br><br>
</div>

    <div class="pragmatic_footer" >
        <div class="pragmatic_footer_button">
            |
            <span>공지사항</span> |
            <span>제휴문의</span> |
            <span>서비스 소개</span> |

        </div>
        <div style="margin-top: 1rem;">
            <h6 class="pragmatic_logo">책과 사람</h6>
        </div>

    </div>
