
<div style="text-align:center;margin: 3rem 0;">
    <div>
        <br><br>
        <h1>📚 <b>Human and Book</b> 👥</h1>
    </div>

    <div style="margin-top: 1.5rem;">
        <a>
            <span>Book Review</span>
        </a>

        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:signup' %}">
            <span>SignUp</span>
        </a>
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>Login</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
            <span>Logout</span>
        </a>
        {% endif %}
    </div>
</div>
